<table class='user-table'>
    <thead>
        <tr class='table-header'>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th class='table-actions-cell'>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>example_user</td>
            <td>admin</td>
            <td>user@example.com</td>
            <td class='table-actions-cell'>A place for the actions</td>
        </tr>
        <tr>
            <td>example_user</td>
            <td>admin</td>
            <td>user@example.com</td>
            <td>A place for the actions</td>
        </tr>
        <tr>
            <td>example_user</td>
            <td>admin</td>
            <td>user@example.com</td>
            <td class='table-actions-cell'>A place for the actions</td>
        </tr>
        <tr>
            <td>example_user</td>
            <td>admin</td>
            <td>user@example.com</td>
            <td class='table-actions-cell'>A place for the actions</td>
        </tr>
        <tr>
            <td>example_user</td>
            <td>admin</td>
            <td>user@example.com</td>
            <td class='table-actions-cell'>A place for the actions</td>
        </tr>
    </tbody>
</table>