{% include "ui/components/page-title.html" with title="User Management" %}
{% load icon_tags%}

<button id='add-user-button' class='standard-button'>
    Add user
</button>

<dialog id='add-user-dialog' class="modal-dialog elevated">
    <div class='dialog-header'>
        <h2 class='dialog-title'>
            Add User
        </h2>
        <button class='squared-button' id='dialog-close-button'>{% render_icon 'close' %}</button>
    </div>

    {% include "ui/components/forms/add-user-form.html" %}

</dialog>

<div class='elevated table-container'>
<div class="table-container-header">
    <div class="table-title">Current Users</div>
</div>
{% include "ui/components/tables/users-table.html" %}
</div>

<script>
    (function () {

        const dialog = document.getElementById('add-user-dialog')
        const addUserButton = document.getElementById('add-user-button')
        const closeButton = document.getElementById('dialog-close-button')

        addUserButton.addEventListener("click", () => {
            dialog.showModal()
        })

        closeButton.addEventListener("click", () => {
            dialog.close()
        })
    })()
</script>