.dialog-wrapper{
    padding: var(--spacing-m);
}

.dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialog-content{
    display: flex;
    flex-direction: column;
}
.dialog-content label{
    margin-bottom: var(--spacing-xs);
}
.dialog-content input,select{
    margin-bottom: var(--spacing-m);
}

::backdrop {
  background-color: black;
  opacity: 0.3;
}