.modal-wrapper{
    padding: var(--spacing-m);
}

.modal-header{
    display: flex;
    justify-content: space-between;
}
.modal-content{
    display: flex;
    flex-direction: column;
}
.modal-content label{
    margin-bottom: var(--spacing-xs);
}
.modal-content input,select{
    margin-bottom: var(--spacing-m);
}