{% comment %}

request_path(str): The path where the form must be submitted
dialog_title(str): The modal title
form_template(partial): The form to be submitted

{% endcomment %}

{% load icon_tags%}
<form hx-post="{{request_path}}">
    <div class="dialog-header">
        <h2 class="dialog-title">
            {{dialog_title}}
        </h2>
        <button class="squared-button" id="dialog-close-button">{% render_icon 'close' %}</button>
    </div>

    <div class="dialog-content">
        {% include form_template %}
    </div>
    <div class="dialog-footer">
        <button class="standard-button" type="submit">
            Save
        </button>
    </div>
</form>
